<div class="card" style="
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;">
    <img class="img-fluid" src="../../Usuarios/Static/images/logocomunidad.png" width="200" height="250" alt="logo">
    <div class="card-body">
        <div class="body">
            <form id="sign_in" method="POST" novalidate="novalidate">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="username" placeholder="Nombre de usuario" required="" autofocus="" aria-required="true">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña" required="" aria-required="true">
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-xs-6 align-center">
                        <button class="btn btn-block btn-primary waves-effect" type="submit">Ingresar</button>
                    </div>
                    <div class="col-xs-6 align-center">
                        <button class="btn btn-block btn-default waves-effect" onclick="registration()">Registrarse</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>