<div class="signup-box">
    <div class="card cardRegistration">
        <div class="body">
            <form id="sign_up" method="POST" novalidate="novalidate">
                <small class="card-inside-title" style="margin-bottom: 7px">Nuevo registro de funcionario(a)</small>
                <h2 class="card-inside-title">Datos personales</h2>
                <div class="row clearfix">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="name" placeholder="Nombre completo" required="" autofocus="" aria-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="lastname1" placeholder="Primer apellido" required="" autofocus="" aria-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="lastname2" placeholder="Segundo apellido" required="" autofocus="" aria-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">fingerprint</i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="id" minlength="11" placeholder="Cédula" required="" autofocus="" aria-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">date_range</i>
                    </span>
                                <div class="form-line">
                                    <input type="text" class="form-control date" placeholder="Fecha de nacimiento">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                                <div class="form-line">
                                    <input type="password" class="form-control" name="password" minlength="12" placeholder="Contraseña" required="" aria-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">home</i>
                        </span>
                                <div class="form-line">
                                    <textarea rows="4" class="form-control no-resize" placeholder="Dirección exacta"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                                <div class="form-line">
                                    <input type="email" class="form-control" name="email" placeholder="Dirección de correo" required="" aria-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="msg" style="margin-bottom: 7px">Sexo</div>
                                <input name="group_sexo" type="radio" id="radio_masculino" class="radio-col-light-green">
                                <label for="radio_masculino">Masculino</label>
                                <input name="group_sexo" type="radio" id="radio_femenino" class="radio-col-light-green">
                                <label for="radio_femenino">Femenino</label>
                                <input name="group_sexo" type="radio" id="radio_otro" class="radio-col-light-green">
                                <label for="radio_otro">Otro</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="msg" style="margin-bottom: 7px">Estado civil</div>
                            <input name="group_estado" type="radio" id="radio_soltero" class="radio-col-light-green">
                            <label for="radio_soltero">Soltero (a)</label>
                            <input name="group_estado" type="radio" id="radio_casado" class="radio-col-light-green">
                            <label for="radio_casado">Casado (a)</label>
                            <input name="group_estado" type="radio" id="radio_viudo" class="radio-col-light-green">
                            <label for="radio_viudo">Otro</label>
                        </div>
                    </div>
                </div>

                <h2 class="card-inside-title">Datos funcionario</h2>
                <div class="row clearfix">
                    <div class="col-sm-4 col-sm-offset-2">
                        <div class="form-group">
                            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">account_box</i>
                        </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="carnet" placeholder="Carné funcionario" required="" autofocus="" aria-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">work</i>
                            </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="grade" placeholder="Grado académico" required="" autofocus="" aria-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="msg" style="margin-bottom: 7px">Roles</div>
                        <div class="row clearfix">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="checkbox" id="checkbox_technician" class="filled-in chk-col-light-green">
                                    <label for="checkbox_technician">Técnico</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="checkbox" id="checkbox_admin" class="filled-in chk-col-light-green">
                                    <label for="checkbox_admin">Administrativo</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="checkbox" id="checkbox_driver" class="filled-in chk-col-light-green">
                                    <label for="checkbox_driver">Chofer</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="checkbox" id="checkbox_teacher" class="filled-in chk-col-light-green">
                                    <label for="checkbox_teacher">Docente</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="msg" style="margin-bottom: 7px">Licencias</div>
                    <div class="col-sm-2 col-sm-offset-1">
                        <div class="form-group">
                            <div>
                                <input type="checkbox" id="checkbox_a" class="filled-in chk-col-light-green">
                                <label for="checkbox_a">Tipo A</label>
                            </div>
                            <div>
                                <input name="group_A" type="radio" id="radio_a1" class="radio-col-light-green">
                                <label for="radio_a1">A1</label>
                            </div>
                            <div>
                                <input name="group_A" type="radio" id="radio_a2" class="radio-col-light-green">
                                <label for="radio_a2">A2</label>
                            </div>
                            <div>
                                <input name="group_A" type="radio" id="radio_a3" class="radio-col-light-green">
                                <label for="radio_a3">A3</label>
                            </div>
                            <div>
                                <input name="group_A" type="radio" id="radio_a4" class="radio-col-light-green">
                                <label for="radio_a4">A4</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div>
                                <input type="checkbox" id="checkbox_b" class="filled-in chk-col-light-green">
                                <label for="checkbox_b">Tipo B</label>
                            </div>
                            <div>
                                <input name="group_B" type="radio" id="radio_b1" class="radio-col-light-green">
                                <label for="radio_b1">B1</label>
                            </div>
                            <div>
                                <input name="group_B" type="radio" id="radio_b2" class="radio-col-light-green">
                                <label for="radio_b2">B2</label>
                            </div>
                            <div>
                                <input name="group_B" type="radio" id="radio_b3" class="radio-col-light-green">
                                <label for="radio_b3">B3</label>
                            </div>
                            <div>
                                <input name="group_B" type="radio" id="radio_b4" class="radio-col-light-green">
                                <label for="radio_b4">B4</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div>
                                <input type="checkbox" id="checkbox_c" class="filled-in chk-col-light-green">
                                <label for="checkbox_c">Tipo C</label>
                            </div>
                            <div>
                                <input name="group_C" type="radio" id="radio_c1" class="radio-col-light-green">
                                <label for="radio_c1">C1</label>
                            </div>
                            <div>
                                <input name="group_C" type="radio" id="radio_c2" class="radio-col-light-green">
                                <label for="radio_c2">C2</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div>
                                <input type="checkbox" id="checkbox_d" class="filled-in chk-col-light-green">
                                <label for="checkbox_d">Tipo D</label>
                            </div>
                            <div>
                                <input name="group_D" type="radio" id="radio_d1" class="radio-col-light-green">
                                <label for="radio_d1">D1</label>
                            </div>
                            <div>
                                <input name="group_D" type="radio" id="radio_d2" class="radio-col-light-green">
                                <label for="radio_d2">D2</label>
                            </div>
                            <div>
                                <input name="group_D" type="radio" id="radio_d3" class="radio-col-light-green">
                                <label for="radio_d3">D3</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div>
                                <input type="checkbox" id="checkbox_e" class="filled-in chk-col-light-green">
                                <label for="checkbox_e">Tipo E</label>
                            </div>
                            <div>
                                <input name="group_E" type="radio" id="radio_e1" class="radio-col-light-green">
                                <label for="radio_e1">E1</label>
                            </div>
                            <div>
                                <input name="group_E" type="radio" id="radio_e2" class="radio-col-light-green">
                                <label for="radio_e2">E1</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="form-group">-->
                <!--<div class="msg" style="margin-bottom: 7px">Fecha de nacimiento</div>-->
                <!--<div class="form-line">-->
                <!--<input type="text" class="datepicker form-control" placeholder="Please choose a date..." data-dtp="dtp_NWVMs">-->
                <!--</div>-->
                <!--</div>-->

                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                            <label for="terms">He leído y estoy de acuerdo con los <a href="javascript:void(0);">terminos de uso</a>.</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">Registrarse</button>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <button class="btn btn-block btn-lg bg-blue waves-effect" type="submit">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>