<div class="secretary-box">
    <div class="card" style="
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;">
        <div class="body">
            <form id="secretary" method="POST" novalidate="novalidate">

                <h3>Secretaria </h3><br>

                <button ng-click="nada()">  </button>

                <!--Radio: eliminar o agregar-->
                <h5>Seleccione Departamento </h5><br>
                <form class="form-group">
                    <input name="group1" type="radio" id="radio_agregar" class="radio-col-light-green">
                    <label for="radio_agregar">Agregar</label>
                    <input name="group1" type="radio" id="radio_eliminar" class="radio-col-light-green">
                    <label for="radio_eliminar">Eliminar</label>
                </form><br><br>

                <!--Select: seleccione sede-->
                <h5>Seleccione Sede </h5>
                <div class="btn-group bootstrap-select form-control show-tick dropup">
                    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="-- Please select --" aria-expanded="false"><span class="filter-option pull-left">-- Please select --</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                    <select  id="select-sede" class="form-control show-tick" tabindex="-98">
                </select>
                </div><br><br>

                <!--select: seleccione departamento-->
                <h5>Seleccione Departamento </h5>
                <div class="btn-group bootstrap-select form-control show-tick dropup">
                    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="-- Please select --" aria-expanded="false"><span class="filter-option pull-left">-- Please select --</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                    <select id="select-departamento" class="form-control show-tick" tabindex="-98">
                    </select>
                </div><br><br>

                <!--input: ingrese cedula-->
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">fingerprint</i>
                        </span>
                    <div class="form-line">
                        <input type="number" class="form-control" id="DNI" name="DNI" placeholder="Cedula" required="" autofocus="" aria-required="true">
                    </div>
                </div>


                <button type="button" class="btn btn-block btn-lg bg-pink waves-effect" data-toggle="modal" data-target="#defaultModal">Confirmar</button>

                <!--model: ventana extendida-->
                <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" style="display: none;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="defaultModalLabel">Confirmar</h4>
                            </div>
                            <div class="modal-body">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">email</i>
                                    </span>
                                    <div class="form-line">
                                        <input type="email" class="form-control" id="secretary-email" name="email" placeholder="Dirección de correo" required="" aria-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-link waves-effect">Guardar</button>
                                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>