<div class="signup-box">
    <div class="card cardRegistration">
        <div class="body">
            <form id="sign_up" method="POST" novalidate="novalidate">
                <small class="card-inside-title" style="margin-bottom: 7px">Nuevo registro de funcionario(a)</small>
                <h2 class="card-inside-title">Datos personales</h2>
                <div class="row clearfix">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="name" ng-model="formDataOfficial.name" placeholder="Nombre completo" required="" autofocus="" aria-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="lastname1" ng-model="formDataOfficial.lastname1" placeholder="Primer apellido" required="" autofocus="" aria-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="lastname2" ng-model="formDataOfficial.lastname2" placeholder="Segundo apellido" required="" autofocus="" aria-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">fingerprint</i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="id" ng-model="formDataOfficial.id" minlength="11" placeholder="Cédula" required="" autofocus="" aria-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">date_range</i>
                    </span>
                                <div class="form-line">
                                    <input type="date" name="dateOfBirth" ng-model="formDataOfficial.dateOfBirth" placeholder="Fecha de nacimiento">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                                <div class="form-line">
                                    <input type="password" class="form-control" name="password" ng-model="formDataOfficial.password" minlength="12" placeholder="Contraseña" required="" aria-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">home</i>
                        </span>
                                <div class="form-line">
                                    <textarea rows="4" class="form-control no-resize" name="adress" ng-model="formDataOfficial.adress" placeholder="Dirección exacta"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                                <div class="form-line">
                                    <input type="email" class="form-control" name="email" ng-model="formDataOfficial.email" placeholder="Dirección de correo" required="" aria-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="msg" style="margin-bottom: 7px">Sexo</div>
                                <input name="gender" ng-model="formDataOfficial.gender" value="male" type="radio" id="radio_male" class="radio-col-light-green">
                                <label for="radio_male">Masculino</label>
                                <input name="gender" ng-model="formDataOfficial.gender" value="female" type="radio" id="radio_female" class="radio-col-light-green">
                                <label for="radio_female">Femenino</label>
                                <input name="gender" ng-model="formDataOfficial.gender" value="other_gender" type="radio" id="radio_other_gender" class="radio-col-light-green">
                                <label for="radio_other_gender">Otro</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="msg" style="margin-bottom: 7px">Estado civil</div>
                            <input name="status" ng-model="formDataOfficial.status" value="single" type="radio" id="radio_single" class="radio-col-light-green">
                            <label for="radio_single">Soltero (a)</label>
                            <input name="status" ng-model="formDataOfficial.status" value="married" type="radio" id="radio_married" class="radio-col-light-green">
                            <label for="radio_married">Casado (a)</label>
                            <input name="status" ng-model="formDataOfficial.status" value="other_status" type="radio" id="radio_other_status" class="radio-col-light-green">
                            <label for="radio_other_status">Otro</label>
                        </div>
                    </div>
                </div>

                <h2 class="card-inside-title">Datos funcionario</h2>
                <div class="row clearfix">
                    <div class="col-sm-4 col-sm-offset-2">
                        <div class="form-group">
                            <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">account_box</i>
                        </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="carnet" ng-model="formDataOfficial.carnet" placeholder="Carné funcionario" required="" autofocus="" aria-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">work</i>
                            </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="grade" ng-model="formDataOfficial.grade" placeholder="Grado académico" required="" autofocus="" aria-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="msg" style="margin-bottom: 7px">Roles</div>
                            <div class="row clearfix">
                                <div class="form-group">
                                    <div ng-repeat="r in dataRoles" class="col-sm-3">
                                        <input type="checkbox" name="role" value="{{r.role}}" id="{{r.id}}" class="filled-in chk-col-light-green">
                                        <label for="{{r.id}}">{{r.role}}</label>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="msg" style="margin-bottom: 7px">Licencias</div>
                        <div class="form-group">
                            <div ng-repeat="licenseType in formDataDriver">
                                <div class="col-sm-2">
                                    <input type="checkbox" name="license" id="{{licenseType.ch}}" value="{{licenseType.id}}" ng-click="isChecked(licenseType.id)" class="filled-in chk-col-light-green">
                                    <label for="{{licenseType.ch}}">{{licenseType.id}}</label>
                                    <div ng-repeat="ele in licenseType.items">
                                        <input type="radio" name="{{licenseType.id}}" id="{{ele}}" ng-value="e">
                                        <label for="{{ele}}">{{ele}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                            <label for="terms">He leído y estoy de acuerdo con los <a href="javascript:void(0);">terminos de uso</a>.</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">Registrarse</button>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <button class="btn btn-block btn-lg bg-blue waves-effect" type="submit">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <pre>
                        {{ formDataOfficial | json }} <br>
                        {{ formDataRole | json }}
                    </pre>
                </div>
            </form>
        </div>
    </div>
</div>