<div class="secretary-box">
    <div class="card" style="
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;">
        <div class="body">
            <form id="secretary-form" method="POST" novalidate="novalidate">
                <h3>Secretaria </h3><br>

                <!--Radio: eliminar o agregar-->
                <h5>¿Qué desea hacer?</h5><br>
                <form class="form-group">
                    <input name="group1" type="radio" id="radio_agregar" class="radio-col-light-green" ng-click="radioTrue()">
                    <label for="radio_agregar">Agregar</label>
                    <input name="group1" type="radio" id="radio_eliminar" class="radio-col-light-green" ng-click="radioFalse()">
                    <label for="radio_eliminar">Eliminar</label>
                </form><br><br>

                <!--Select: seleccione sede-->
                <div>
                    <select id="sede_secretaria" class="form-control show-tick" tabindex="-98">
                        <option value="" disabled selected>Seleccione una Sede</option>
                        <option value="AB">Sede 1</option>
                        <option value="AL">Sede 2</option>
                    </select>
                </div><br><br>

                <!--select: seleccione departamento-->
                <div>
                    <select id="departamento_secretaria" class="form-control show-tick" tabindex="-98">
                        <option value="" disabled selected>Seleccione una Departamento</option>
                        <option value="AB">Dep 1</option>
                        <option value="AL">Dep 2</option>
                    </select>
                </div><br><br>


                <!--input: ingrese cedula-->
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">fingerprint</i>
                        </span>
                    <div class="form-line">
                        <input type="number" class="form-control" id="DNI_secretary" name="DNI" placeholder="Cedula"  required autofocus="" aria-required="true">
                    </div>
                </div>


                <button type="button" class="btn btn-default eq-ui-waves" data-toggle="modal" data-target="#defaultModal"  ng-click="veriRadio()">Confirmar</button>


                <!--model: ventana extendida-->
                <!-- Esta ventana es emergente donde se envia un correro de confirmación-->
                <div ng-if="allSelected === true" class="modal fade" id="defaultModal" tabindex="-1" role="dialog" style="display: none;">
                    <div ng-if="variableAgregarElimina === true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="defaultModalLabel">Enviar Confirmación</h4>
                                        </div>
                                        <div class="modal-body">
                                            <!--Formulario de envio para emailjs  -->
                                            <form id="myform">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">email</i>
                                                </span>

                                                <div class="form-line">
                                                    <input type="email" class="form-control" id="secretary-email" name="to_email" placeholder="Dirección de correo" required="" aria-required="true">
                                                </div>

                                                <div class="modal-footer">
                                                    <button                 class="btn btn-default eq-ui-waves" ng-click="emailSend()">Enviar</button>
                                                    <label   type="button"  class="btn btn-default eq-ui-waves" data-dismiss="modal" ng-click="limpiarForm()">Cerrar</label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div ng-if="variableAgregarElimina  !== true">
                        <div class="container">
                            <!-- Modal -->
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Deshabilitar</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Guardar en la base de datos</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-default eq-ui-waves">Guardar</button>
                                            <button   type="button"  class="btn btn-default eq-ui-waves" data-dismiss="modal" ng-click="limpiarForm()">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>