.cardRegistration {
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 5px;
}

.cardLogin {
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;
}