<div class="signup-box">
    <div class="card" style="
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;">
        <div class="body">
            <form id="sign_up" method="POST" novalidate="novalidate">
                <small class="card-inside-title" style="margin-bottom: 7px">Nuevo registro de estudiante</small>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">fingerprint</i>
                        </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="id" minlength="11" placeholder="Cédula" required="" autofocus="" aria-required="true">
                    </div>
                </div>

                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="name" placeholder="Nombre" required="" autofocus="" aria-required="true">
                    </div>
                </div>

                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="lastname1" placeholder="Apellido 1" required="" autofocus="" aria-required="true">
                    </div>
                </div>

                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="lastname2" placeholder="Apellido 2" required="" autofocus="" aria-required="true">
                    </div>
                </div>

                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                    <div class="form-line">
                        <input type="email" class="form-control" name="email" placeholder="Dirección de correo" required="" aria-required="true">
                    </div>
                </div>

                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="password" minlength="12" placeholder="Password" required="" aria-required="true">
                    </div>
                </div>

                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">work</i>
                        </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="carnet" placeholder="Carné de estudiante" required="" autofocus="" aria-required="true">
                    </div>
                </div>

                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">home</i>
                        </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="adress" placeholder="Dirección" required="" autofocus="" aria-required="true">
                    </div>
                </div>


                <div class="form-group">
                    <div class="msg" style="margin-bottom: 7px">Estado civil</div>
                    <input name="group_estado" type="radio" id="radio_soltero" class="radio-col-light-green">
                    <label for="radio_soltero">Soltero (a)</label>
                    <input name="group_estado" type="radio" id="radio_casado" class="radio-col-light-green">
                    <label for="radio_casado">Casado (a)</label>
                    <input name="group_estado" type="radio" id="radio_viudo" class="radio-col-light-green">
                    <label for="radio_viudo">Otro</label>
                </div>

                <div class="form-group">
                    <div class="msg" style="margin-bottom: 7px">Fecha de nacimiento</div>
                    <div class="form-line">
                        <input type="text" class="datepicker form-control" placeholder="Please choose a date..." data-dtp="dtp_NWVMs">
                    </div>
                </div>

                <div class="form-group">
                    <div class="msg" style="margin-bottom: 7px">Sexo</div>
                    <input name="group_sexo" type="radio" id="radio_masculino" class="radio-col-light-green">
                    <label for="radio_masculino">Masculino</label>
                    <input name="group_sexo" type="radio" id="radio_femenino" class="radio-col-light-green">
                    <label for="radio_femenino">Femenino</label>
                    <input name="group_sexo" type="radio" id="radio_otro" class="radio-col-light-green">
                    <label for="radio_otro">Otro</label>
                </div>

                <div class="form-group">
                    <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                    <label for="terms">He leído y estoy de acuerdo con los <a href="javascript:void(0);">terminos de uso</a>.</label>
                </div>
                <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">Registrarse</button>
            </form>
        </div>
    </div>
</div>